* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;

}

body {
    background-color: #e3e8f1;
}

.body {
    background-image: url(./Assets/Hero-bg.png);
    background-size: cover;
    width: 100%;
    height: 700px;

}

header {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 158px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.web-name {
    font-size: 34px;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    color: #4E47FF;
}

.btn {
    background-color: #4E47FF;
    color: white;
    padding: 12px 36px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.btn:hover {
    color: antiquewhite;

    background-color: #2f2da1;
    transition: .5s;

}

.banner {
    width: 905px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 37px;
    align-items: center;
}

.banner h1 {
    font-size: 48px;
    font-weight: 900;
    color: #252432;
    text-align: center;

}

.content {
    width: 80%;
    margin: 125px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;

}

.text-container {
    width: 520px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.text-container h1 {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}

.text-container p {
    font-size: 24px;
    color: #252432;
}

.img-container img {
    width: 100%;
    height: 100%;
    border-radius: 48px;
}

.users {
    width: 80%;
    border-radius: 24px;
    background: rgba(78, 71, 255, 0.10);
    padding: 50px 80px;
    margin: 0 auto;
    margin-bottom: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

}

.heading {
    font-family: "Inter", sans-serif;
    font-size: 38px;
    font-weight: bold;
    color: #252432;
}

.survey {
    width: 80%;
    margin: 0 auto;
    display: flex;
    
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.survey h1 {
    font-size: 80px;
    font-family: "Inter", sans-serif;
    color: #4E47FF;
    font-weight: bold;

}

.active-user {
    font-size: 20px;
    font-family: "Inter", sans-serif;
    color: #000000;
    font-weight: regular;
    text-align: center;
}

.review {
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 125px;
    flex-direction: column;
    /* align-items: center; */
    gap: 50px;

}

.review h1 {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    text-align: center;
}

.rating {
    margin-bottom: 15px;
}

.review-card {
    width: 366px;
    background-color: #F2EDED;
    padding: 24px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.name {
    display: flex;
    align-items: center;
    gap: 15px;
}

.comment {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comment h3 {
    font-size: 24px;
    color: #1E1E1E;
    font-weight: bold;
    color: #252432;
}

.name img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.name-text h4 {
    font-size: 16px;
    color: #757575;
    font-weight: 500;
}

.name-text p {
    font-size: 14px;
    color: #B3B3B3;
    font-weight: 400;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.review-card:hover {
    transform: scale(1.025);
    box-shadow: #B3B3B3 0px 0px 20px;
    transition: 0.3s;
}

/* focus  */
.focus {
    width: 80%;
    padding: 71px 150px;
    margin: 0 auto;
    margin-bottom: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background-color: #f0f1f5;
    border-radius: 14px;
}

.focus-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.focus-title h1 {
    font-size: 50px;
    font-weight: bold;
    color: #000000;
}

.focus-title p {
    /* font-size: 20px; */
    color: #767474;
    text-align: center;
}

.focus-img img {
    width: 840px;
    border-radius: 24px;
}

/* form  */
.form {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 125px;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.form h1 {
    color: #000;
    font-family: "Raleway", sans-serif;
    font-size: 97px;
    font-style: normal;
    font-weight: 700;

}

.inputs {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
}

input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
}

textarea {
    width: 100%;
    height: 167px;
    margin-top: 10px;
    padding: 12px 20px;

    box-sizing: border-box;
    border-radius: 10px;
    border: none;
}

.inputs form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inputs form label {
    font-size: 20px;
    color: #000000;
    font-weight: 400;

}
/* footer  */
footer {
    width: 100%;
    padding: 104px 450px;
    background-color: #FFFFFF;
    margin-top: 125px;
    text-align: center;
}
.foot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    width: fit-content;
}
.foot h1 {
    font-size: 100px;
    font-weight: 900;
    color: #4E47FF;
}
.foot p {
    font-size: 14px;
    color: #8987A1;
    font-weight: 400;
}
.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.links a {
    text-decoration: none;
    color: #8987A1;
    font-size: 13px;
    font-weight: 500;
}